/* src/components/Layout.css */
.layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #5C677D;
  margin-left: 10%; /* Matches sidebar width */
}